.trendContainer {
    margin-top: 5px;
    background-color: white;
    border-radius: 5px;
    margin-left: auto;
    margin-right: auto;
    position: absolute;
    z-index: 999;
    width: inherit;
}