.trending-container {
    text-align: left;
    padding-left: 15px;
    padding-top: 1px;
}
.latest-trends-wrapper {
    display: inline-grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
    gap:10px;
}
.trend-image {
    height: 100px;
    width: 75px;
    object-fit: contain;
}
.trend-title {
    font-size: 11px;
    margin: 0px;
    text-overflow: ellipsis;
    overflow: hidden;
    display: block;
}
.trend-suggestion-heading {
    font-weight: 700;
    color: black;
}
.trend-suggestion-title {
    font-size: 10px;
    font-weight: 700;
    margin: 0px;
    margin-top:4px;
    color: black;
}