.searchBar-container {
    display: flex;
}
.searchBar {
    width: 100%;
    border-radius: 10px;
    border: 0px;
    padding: 20px;
    font-size: 15px;
    outline: none;
}
.searchBar-icon {
    font-size: 25px;
    position: relative;
    left: -40px;
    top: 15px;
    cursor: pointer;
}
.searchBar.outline {
    outline: 1px solid #ededed;
    background-color: #f9f9f9;
    border: 0.5px solid white;
    padding: 15px;
}